.env
.env.*
!.env.sample

node_modules
dist
coverage
.turbo
.cache

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.git
.gitignore
.vscode

Dockerfile
.dockerignore
README.md
LICENSE
test
